<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opiniões Impopulares</title>
    <link rel="shortcut icon" href="images/LogoSite.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <h1 class="titulo" >Opiniões Impopulares</h1>

    <h3 class="timer"></h3>

    <div id="opiniao-box">
        <div class="opiniao-text"><p>Carregando...</p></div>
    </div>

    <div id="opiniao-buttons">
        <button id = "like" class="opiniao-button">👍</button>
        <button id = "dislike" class="opiniao-button">👎</button>
    </div>
    
    <footer>
        <div>
        <a div="footer-a-github" class="footer-a" href="https://github.com/HeniqueSantos">GITHUB</a>
        <label for=""> | </label>
        <a div="footer-a-linkedin" class="footer-a" href="https://linkedin.com/in/riquesantos">LINKEDIN</a></div>
        
        <p class="footer-p"><strong>site criado com intuito de estudos</strong> </p>    
        
        
         
    </footer>

    <script src="js/script.js"></script>
</body>
</html>